.App {
  font-size: 1.8rem;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: list-item;
}

.App-logo {
  /*animation: App-logo-spin infinite 3s linear;*/
  padding-top: 5px;
  height: 80px;
}

.App-header {
  position: absolute;
  top: 0px;
  left: 0px;

  height: 150px;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px ;
  padding-bottom: 0px;
  padding-right: 0px;

  align-items: center;
  text-align: center;
  background: #222;
  display: list-item;
}

.App-header h2 {
  color: white;
}

.App-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;

  padding-left: 20px;

  height: 20%;
  width: 100%;

  display: list-item;
  align-items: center;
  background: transparent;
}

.App-intro {
  position: absolute;
  font-size: large;
  display: list-item;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.messages-container {
  top: 180px;
  min-height: 20%;
  max-height: 55%;
  width: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  position: fixed;
  display: list-item;
}

.chat-form {
  height: 80%;
  width: 80%;
  position: absolute;
  bottom: 0px;
}

.jenny-typing {
  height: 80%;
  width: 80%;
  position: static;
}


.message {
  width: 100%;
  text-align: left;
  margin: 10px 4px;
}

.message.user {
  clear: left;
  float: left;
  word-wrap: break-word;
}

.message.jenny {
  clear: right;
  float: right;
  text-align: right;
  word-wrap: break-word;
}

.message .author {
  font-weight: bold;
}

.message .message-body {
  max-width: 500px;
  text-align: left;
  padding: 15px;
}

.message.jenny .message-body {
  float: right;
  background-color: #0084ff;
  color: white;
  padding: 15px;
  border-radius: 30px 0px 30px 30px;
}

.message.user .message-body {
  background-color: rgb(241, 241, 241);
  border-radius: 0px 30px 30px 30px;
}
